
.brand-cover{
    height: 9rem;
    width: 9rem;
    /* height: 190px;
    width: 260px; */
    border-radius: 50%;
    background-color: var(--primary-bg);
    box-shadow: var( --collection-shadow);
    border: 0.5px solid var(  --border-white);
}
.brand-img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
}

.brand-name{
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var( --title-color);
    overflow: hidden;
    font-weight: 500;
    margin-top: 6px;
}
.brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--brand-box-shadow);
    overflow: hidden;
}